.shoppingCartWrapper {
  position: fixed;
  height: calc(100vh - 70px);
  width: 600px;
  bottom: 0;
  right: -100%;
  background-color: var(--white);
  z-index: 99;
  padding: 80px 30px 50px;
  transition: all .3s linear;
  .clearCarts {
    margin-top: 30px;
  }
  &.opened{
    right: 0;
  }
  .closeCart {
    font-size: 40px;
    color: var(--secondary);
    font-weight: 600;
    position: absolute;
    top: 10px;
  }
  .shoppingCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    .shoppingCard {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--gray);
      padding: 20px 10px;
      border-radius: 10px;
      figure {
        width: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--gray);
        border-radius: 4px;
        .imageWrapper {
          img {
            object-fit: contain;
            max-height: 100%;
            max-width: 100%;
            min-height: auto;
            min-width: auto;
          }
        }
      }
      .info {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        justify-content: space-between;
        gap: 10px;
        .name {
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
          color: crimson;
        }
        .category {
          font-size: 12px;
          background-color: crimson;
          padding: 2px 4px;
          color: var(--white);
          font-weight: 500;
          width: auto;
          display: inline-flex;
          font-style: italic;
        }
        .price {
          font-size: 20px;
          font-weight: 600;
          margin-left: 10px;
        }
        .numericCounter {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: var(--primary);
          font-weight: 500;
        }
        .totalPayment {
          font-size: 20px;
          font-weight: 600;
          margin-left: 10px;
          color: crimson;
          padding-left: 15px;
        }
      }
      .deleteButton {
        width: 24px;
        height: 24px;
        background-color: crimson;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 12px;
        font-weight: 600;
        border-radius: 4px;
        border: 1px solid crimson;
        transition: all 0.3s linear;
        @media screen and (min-width: 992px) {
          &:hover {
            color: crimson;
            background-color: var(--white);
          }
        }
      }
    }
  }
  .numericCounter {
    display: flex;
    align-items: center;
    input {
      width: 50px;
    }
  }
}
.summaryWrapper {
  background-color: var(--gray);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  .item {
    background-color: var(--white);
    border-radius: 6px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    span {
      color: var(--secondary);
      font-size: 20px;
      font-weight: 600;
    }
  }
}
